@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: "mainstay";
    src: url("../assets/fonts/Mainstay.ttf")
}

@font-face {
    font-family: "olive";
    src: url("../assets/fonts/Antique-Olive-Std-Black_3861.ttf")
}

html {
    color: #ffffff;
    background-color: #000000;
}
